$main-light: #fff !default;
$dark: #222 !default;
$primary-color: #f2c64e !default;
$primary-color-dark: #cea22a !default;
$trasparent-white-50: rgba(255, 255, 255, 0.5) !default;
$trasparent-white-25: rgba(255, 255, 255, 0.25 ) !default;
$trasparent-white-20: rgba(255, 255, 255, 0.20 ) !default;
$trasparent-dark-20: rgba(0, 0, 0, 0.20) !default;
