.header {
  border-bottom: 1px solid $trasparent-dark-20;
}

.main-header {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  padding: 15px 5%;
  margin: 0 auto;

  .main-nav {
    width: 90%;
    margin: 0 auto;
  }

  &__left-container {

    .home-link {
      display: inline-block;
      margin-left: 20px;
      font-family: 'Dancing Script';
      font-size: 1.3em;
      font-weight: 600;
      color: $dark;
      text-decoration: none;
    }
  }

  &__right-container {

    span {
      margin-right: 20px;
      font-family: 'Open Sans';
      color: $dark;
      font-weight: 600;
    }
  }
}

.admin-header {
  padding: 10px 0;
  background-color: $primary;
}
