.main-header {

  display: flex;
  justify-content: space-between;
  padding: 15px 5%;

  .main-nav {
    width: 90%;
    margin: 0 auto;
  }

  &__right-container {

    span {
      margin-right: 20px;
      font-family: 'Open Sans';
      color: $dark;
      font-weight: 600;
    }
  }
}

.admin-header {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px 5%;
  background-color: $primary;
}