.main-header {
  border-bottom: 1px solid $trasparent-dark-20;
  z-index: 100;

  nav {
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 50;
    background-color: $main-light;
    overflow: hidden;
    transition: height 0.3s ease-in-out 0s;
  }
  
  .show-menu {
    height: 80px;
    border: 1px solid $trasparent-dark-20;
  }
  
  ul { 
    list-style: none;
    width: auto;
  }
  
  li {
    position: relative;
  }
  
  .main-nav {
    margin-top: 37px;
    width: 50%;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    a {
      box-sizing: border-box;
      display: inline-block;
      padding: 12px 0;
      padding-left: 10px;
      width: 100%;
      font-size: 15px;
      font-family: 'Open Sans';
      font-weight: 600;
      color: $dark;
      text-decoration: none;
      text-transform: capitalize;
      border-bottom: 1px solid $trasparent-dark-20;
    }

    li:last-child {
      
      a {
        border-bottom: none;
      }
    }
  }
}

.admin-header {

  &__nav {
    
    ul {
      display: flex;
      justify-content: flex-end;
    }

    a {
      display: inline-block;
      margin-left: 20px;
      font-family: 'Open Sans';
      font-size: 0.9em;
      font-weight: 600;
      text-decoration: none;
      color: $dark;
    }
  }
}