.menu {
  
  &__category-heading {
    margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    color: $dark;
    text-transform: capitalize;
  }
}

.categories-nav {

  &__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: $dark;
    margin-bottom: 10px;
    margin-left: 5%;
  }
}

.log-in__heading, 
.sign-up__heading {
  font-family: 'Open Sans';
  font-size: 1.8em;
  text-align: center;
}

.cart__heading {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 40px;
}

.dashboard-food-items__heading,
.dashboard-food-items__edit-heading {
  font-family: 'Open Sans';
  font-size: 1.8em;
  text-align: center;
}

