.menu {
  
  &__category-heading {
    display: inline-block;
    width: 150px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    color: $dark;
    text-transform: capitalize;
    border-bottom: 3px solid $primary;
  }
}

.categories-nav {

  &__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: $dark;
    margin-left: 5%;
  }
}

.log-in__heading, x
.sign-up__heading,
.forgot-password__heading {
  font-family: 'Open Sans';
  font-size: 1.8em;
  text-align: center;
}

.cart__heading {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 40px;
}

.dashboard-food-items__heading,
.dashboard-food-items__edit-heading,
.dsashboard-categories__heading,
.dashboard-categories__edit-heading,
.dashboard-orders__heading,
.user-orders__heading {
  font-family: 'Dancing Script';
  font-size: 2.5em;
  text-align: center;
}

