.btn-add-to-cart {
  padding: 6px 27px;
  background-color: $main-light;
  border: 2px solid $primary-color-dark;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: $dark;
}