.btn-add-to-cart {
  padding: 6px 27px;
  background-color: $primary;
  border: 1px solid $primary-dark;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 800;
  color: $dark;
  text-transform: uppercase;
}

.log-in-btn,
.sign-up-btn,
.checkout-btn,
.add-food-items-btn {
  padding: 8px 0;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 1em;
  font-weight: 600;
  border: 1px solid $primary-dark;
  border-radius: 5px;
  background-color: $primary;
}

.sign-up, 
.forgot-password,
.log-in,
.back-to-menu {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 9px;
  margin-bottom: 10px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: $dark;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.sign-up,
.log-in,
.back-to-menu {
  border: 1px solid $primary-dark;
}

.forgot-password {
  font-family: 'Open Sans';
  border: 1px solid $trasparent-dark-20;
  color: $primary-dark;
}

.add-food-items-btn {
  width: 150px;
  font-size: 0.9em;
}


// Dashboard Food Items Action buttons

.food-items-list__item {

  .actions {

    button {
      width: 22px;
      height: 22px;
      border: none;
      border-radius: 100%;
      background-color: brown;
    }

    .edit-btn {
      background-color: $edit;
    }

    .delete-btn {
      background-color: $danger;
    }
  }
}