form {
  input,
  textarea {
    border: 1px $primary-dark solid;
    border-radius: 5px;
    text-indent: 10px;
  }
}


.log-in,
.sign-up {
  
  &__form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    font-family: 'Open Sans';
    
    .field {
      margin-bottom: 10px;

      input {
        width: 100%;
        height: 32px;
      }
    }
  }

  &__links {
    width: 80%;
    margin: 0 auto;

  }
}

.log-in {

  &__form {

    .remember-me-field {
      margin-bottom: 10px;
    }
  }
}


.dashboard-food-items__form {
  margin-bottom: 30px;

  input[type="file"] {
    height: 30px;
    text-indent: 0;
    border: none;
  }

  .field {
    margin-bottom: 10px;
  }

  input, 
  textarea {
    width: 100%;
  }

  input {
    height: 25px;
  }

  textarea {
    padding-top: 10px;
    height: 60px;
  }

  label {
    margin-right: 10px;
    font-family: "Open Sans";
    font-size: 0.9em;
  }
}