.log-in,
.sign-up {
  
  &__form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    font-family: 'Open Sans';
    
    .field {
      margin-bottom: 10px;

      input {
        width: 100%;
        height: 32px;
        border: 1px $primary-color-dark solid;
        border-radius: 5px;
        text-indent: 10px;
      }
    }
  }

  &__links {
    width: 80%;
    margin: 0 auto;

  }
}

.log-in {

  &__form {

    .remember-me-field {
      margin-bottom: 10px;
  
      label {
  
      }
  }
  }
}