table {
  font-family: "Open Sans";
}

.cart-table {
  width: 100%;
  margin-bottom: 40px;
  font-family: "Open Sans";
  
  &__row > td {
    padding-bottom: 25px;
  }
  &__quantity {
    display: flex;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      line-height: 5px;
      font-weight: 600;
      font-size: 0.8em;
      background-color: $primary;
      border-radius: 50%;
      border: none;
    }

    span {
      font-weight: 600;
    }

    button:first-child {
      margin-right: 8px;
    }
    
    button:last-child {
      margin-left: 8px;
    }
  }
  &__food-item-name {
    text-align: center;
    font-size: 1em;
    padding: 0 10px;
  }
  &__subtotal {
    text-align: right;
    font-size: 1.1em;
    font-weight: 600;
    white-space: nowrap;
  }
}

.dashboard-orders__table,
.user-orders__table {
  margin: 0 auto;
  box-shadow: 0 3px 10px $trasparent-dark-10;
  
  thead {
    background-color: $primary;
    border-bottom: 1px solid $trasparent-dark-20;

    :first-child {
      border-top-left-radius: 4px;
    }

    :last-child {
      border-top-right-radius: 4px;
    }
  }

  th {
    padding: 5px;
    padding-left: 10px;
    font-family: "Open Sans";
    font-size: 0.9em;
    font-weight: 600;
    text-align: left;
  }


  

  td {
    padding: 10px;
    padding-bottom: 15px;
  }
}


.dashboard-orders__table {
  max-width: 300px;
  white-space: nowrap;

  td {
    width: 100%;
  }

  .order-status {
    padding: 8px;
    border-radius: 4px;
  }

  .order-status--completed {
    background-color: #daeadd;
    color: #09aa23;
  }

  .order-status--ordered {
    background-color: #fff8e5;
    color: #fec532;
  }

}