// React 

.alert {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 4px;

  &--success {
    background-color: #d4edda;
    color: #155724;

  &--warning {
    background-color: red;
  }

    button {
      background-color: #23993f;
      color: #d4edda;
      font-weight: bold;
      border: none;
      border-radius: 5px;
    }
  }
}

// Devise

