.alert,
.devise-alert {
  
  &--success {
    background-color: #d4edda;
    color: #155724;
  }

  &--warning {
    background-color: red;
  }
}

// React 

.alert-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
}

.alert {
  width: 80%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 4px;

  &--success {
    background-color: $success-background;
    color: $success-text;
  }

  &--warning {
    background-color: $warning-background;
    color: $warning-text;
  }
}

// Devise

.devise-alert {
  margin:10px auto;
  margin-bottom: 0;
  padding: 10px 20px;
  width: 80%;
  border-radius: 4px;

  &--notice {
    background-color: #d4edda;
    color: #155724;
  }

  &--alert {
    background-color: #f8d7da;
    color: #721c24;
  }
}