@media only screen and (min-width: 600px) {

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .main-header {

    .main-nav {
      width: 20%;
    }
  }

  .categories-nav::-webkit-scrollbar {
    height: 5px;
    width: 4px;
    border: 1px solid $trasparent-dark-10;
  }
  
  .categories-nav::-webkit-scrollbar-thumb {
    background-color: $trasparent-dark-20;
  }

  .admin-header__nav {
    max-width: 960px;
    margin: 0 auto;
  }

  .form-container {
    max-width: 500px;
    margin: 0 auto
  }

  .menu {
    max-width: 960px;

    &__food-item-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  
      .food-item {
        flex-basis: 48%;
      }
    }
  }
}
