@media only screen and (min-width: 960px) {

  .container {
    min-width: 80vh;
  }

  header {

    .main-nav {
      width: 10%;
    }
  }

  .categories-nav {
    // width: 100%;

    &__heading {
      margin-left: 0;
    }
  }

  // .menu {
  //   width: 100%;
  // }
}