@media only screen and (min-width: 992px) {

  .container {
    min-width: 80vh;
  }

  header {

    .main-header {
      padding: 15px 0;
    }

    .main-nav {
      width: 10%;
    }
  }

  .categories-nav {
    width: 100%;

    &__heading {
      margin-left: 0;
    }
  }

  .menu {
    width: 100%;
  }
}