body {
  transition: margin-top .3s ease-in-out;
}

.home {
  max-width: 960px;
  padding: 0 5%;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__category {
    margin-bottom: 50px;
  }

  &__food-item-list {
    display: flex;
    flex-wrap: wrap;

    .food-item {
      flex-basis: 100%;
      margin-bottom: 20px;
      box-shadow: 0 3px 10px $trasparent-dark-10;
    }
  }

}

.food-item {
  width: 100%;

  &__image-container {
    min-height: 100px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    height: calc(100% - 110px);
    padding: 10px;
    margin-top: 10px;

    h3 {
      font-family: 'Dancing Script', cursive;
      margin-bottom: 10px;
      font-size: 1.8em;
      font-weight: 700;
    }

    p {
      flex-grow: 1;
      margin-bottom: 10px;
      line-height: 1.5em;
    }

  }

  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: $dark;
      font-family: 'Open Sans';
      font-size: 1.3em;
      font-weight: 700;
    }
  }
}


/************* Tablet **************/


@media only screen and (min-width: 600px) {
  
  .menu {

    &__food-item-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  
      .food-item {
        flex-basis: 48%;
      }
    }
  }
}
