.dashboard-food-items {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;

  .food-items-list {

    &__item {
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid $trasparent-dark-20;

      .name {
        margin-bottom: 10px;
        font-family: "Open Sans";
        font-weight: 600;
      }

      .category {
        margin-bottom: 10px;
        font-family: "Open Sans";
        font-size: .9em;
        text-transform: capitalize;
      }

      .description {
        margin-bottom: 10px;
        line-height: 1.3em;
      }
      

      .price {
        margin-bottom: 15px;
        font-weight: 600;
      }

      .actions {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        width: 60px;
        transform: translateY(-25%);

      }
    }
  }

  &__edit {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5%;
    height: 0;
    background-color: $main-light;
    transition: all .3s ease-in-out;

    .times-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}