.header-container {
  margin-bottom: 30px;
}

.admin-header {
  margin: 0 auto;
}

.log-in__heading,
.sign-up__heading,
.forgot-password__heading,  
.checkout-success__heading {
  margin-bottom: 30px;
}


.categories-nav__heading {
  margin-bottom: 15px;
}

.cart__heading,
.dashboard-food-items__heading,
.dsashboard-categories__heading,
.dashboard-orders__heading,
.user-orders__heading {
  margin-bottom: 30px;
}


.dashboard-food-items__edit-heading,
.dashboard-categories__edit-heading {
  margin-top: 70px;
  margin-bottom: 30px;
}


.checkout-success__subheading {
  margin-bottom: 15px;
  margin-top: 40px;
}