header {
  margin-bottom: 30px;
}

.log-in__heading,
.sign-up__heading,
.forgot-password__heading {
  margin-bottom: 30px;
}

.cart__heading,
.dashboard-food-items__heading,
.dsashboard-categories__heading,
.dashboard-orders__heading,
.user-orders__heading {
  margin-bottom: 30px;
}


.dashboard-food-items__edit-heading,
.dashboard-categories__edit-heading {
  margin-top: 70px;
  margin-bottom: 30px;
}